:root {
  --background-color: #ffffff;
  --message-bg-color: #f4f4f4;
  --my-message-bg-color: #dcf8c6;
  --input-bg-color: #3a3a3a; /* Color de fondo oscuro para el input y el botón */
  --input-text-color: #e0e0e0; /* Color de texto más claro para el input */
  --button-bg-color: #5c5c5c; /* Color oscuro para el botón */
  --button-text-color: #e0e0e0; /* Color de texto claro para el botón */
  --border-color: #555; /* Color del borde */
  --text-color: #000;
}

/* Tema oscuro */
.dark-theme {
  --background-color: #2c2c2c;
  --message-bg-color: #4f4f4f;
  --my-message-bg-color: #81c784;
  --input-bg-color: #3a3a3a; /* Fondo oscuro para input y botón */
  --input-text-color: #e0e0e0;
  --button-bg-color: #5c5c5c; /* Fondo oscuro para el botón */
  --button-text-color: #e0e0e0;
  --border-color: #555;
  --text-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 60%;
  word-wrap: break-word;
}

.user-setup {
  display: flex;
  width: 350px;
  max-width: 35%;
  min-width: 80px;
  justify-content: center;
  margin-bottom: 20px;
}

#username {
  padding: 10px;
  width: 30%;
  margin-right: 10px;
  background-color: var(--input-bg-color); /* Color del fondo del input */
  color: var(--input-text-color); /* Color del texto del input */
  border: 1px solid var(--border-color); /* Borde oscuro */
  border-radius: 5px;
}

.message {
  background-color: var(--message-bg-color);
  text-align: left;
}
.message-time {
  font-size: 0.6em;
  color: #888; /* Color de texto más suave */
  display: block;
  text-align: right; /* Alineado a la derecha */
  margin-top: 7px; /* Espacio entre el mensaje y la hora */
}

.my-message {
  background-color: var(--my-message-bg-color);
  text-align: left;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.my-message-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -2px;
}

input {
  padding: 10px;
  width: 80%;
  margin-right: 10px;
  background-color: var(--input-bg-color); /* Color del fondo del input */
  color: var(--input-text-color); /* Color del texto del input */
  border: 1px solid var(--border-color); /* Borde oscuro */
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: var(--button-bg-color); /* Color de fondo del botón */
  color: var(--button-text-color); /* Color del texto del botón */
  border: 1px solid var(--border-color); /* Borde oscuro */
  border-radius: 5px;
  cursor: pointer;
}

#chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#chat-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  width: 70%;
}

#messages {
  padding: 20px;
  border: 1px solid #ddd;
  height: 400px;
  overflow-y: scroll;
  /* background-image: url("/images/pattern.png"); Fondo con la textura */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-menu {
  margin-bottom: 20px;
}

#theme-menu label {
  margin-right: 10px;
}
